<h3>{{ data.country }} - {{ data.name }}</h3>
<mat-list>
  <mat-list-item class="item">
    <mat-icon mat-list-icon>layers</mat-icon>
    <p mat-line class="subheader">Type</p>
    <h4 mat-line class="infoValue">{{ data.type }}</h4>
  </mat-list-item>
  <mat-list-item class="item">
    <mat-icon mat-list-icon>person</mat-icon>
    <p mat-line class="subheader">Contributed by</p>
    <h4 mat-line class="infoValue">{{ data.owner.firstName }} {{ data.owner.lastName }}, {{ data.owner. company }}</h4>
  </mat-list-item>
  <mat-list-item class="item">
    <mat-icon mat-list-icon>file_upload</mat-icon>
    <p mat-line class="subheader">Date Added</p>
    <h4 mat-line class="infoValue">{{ strftime('%d %B %Y', data.dateCreated) }}</h4>
  </mat-list-item>
  <mat-divider class="divider"></mat-divider>
  <h3 mat-subheader class="header">Source</h3>
  <mat-list-item class="item">
    <mat-icon mat-list-icon>file_download</mat-icon>
    <p mat-line class="subheader">URL</p>
    <h4 mat-line class="infoValue"><a href="{{ data.sourceUrl }}" target="_blank">{{ data.sourceText }}</a></h4>
  </mat-list-item>
  <mat-list-item class="item">
    <mat-icon mat-list-icon>update</mat-icon>
    <p mat-line class="subheader">Source Date</p>
    <h4 mat-line class="infoValue">{{ strftime('%d %B %Y', data.sourceDate) }}</h4>
  </mat-list-item>
</mat-list>
