html {
  height: 100vh;
  width: 100%;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  width: 100%;
  background: #fafafa;
}

a {
  cursor: pointer;
}

a:hover,
a:active {
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

.mat-menu-panel {
  max-width: none !important;
  max-height: 80vh !important;
}

.leaflet-top {
  top: 30px !important;
}

tableau-mapping {
  height: 100vh;
  width: 100%;
}

.loading {
  width: 100px;
  height: 100px;
  background-color: red;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.displayContainer {
    display: block;
    height: 100vh;
    width: 100%;
}

.centerPseudo {
    display: inline-block;
    text-align: center;
}
.centerPseudo::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0px;
}
#loading {
    height: 100px;
    width: 100px;
}
