@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-toolbar.mat-primary {
    background: #337ab7;
    color: rgba(255,255,255,.87);
}
.mat-progress-spinner path, .mat-spinner path {
    stroke: #337ab7;
  }
.cdk-overlay-pane {
  z-index: 1002;
}
app-header {
  z-index: 2;
}
#agreement .mat-input-underline {
  display: none;
}
#agreement .mat-form-field-underline {
  display: none;
}
