<div class="demo-card-container" layout="row" layout-align="center">
  <mat-card class="help-card">
    <mat-card-header>
      <mat-icon mat-card-avatar>cloud_download</mat-icon>
      <mat-card-title class="help-card-title">Connecting with Web Data Connector</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>If you're seeing this message you need to access the URL using Tableau's Web Data Connector.</p>
      <p>Copy the URL from your web browser <b>https://www.tableaumapping.bi/wdc</b>, open Tableau Desktop, in the connections list select 'Web Data Connector' and paste the URL into the connector. Then it's just like a regular Tableau data source.</p>
      <p>You'll need Tableau 10.4 or newer. If you have 10.1, 10.2 or 10.3 you can use our legacy connector <b>https://www.tableaumapping.bi/wdc/legacy</b> (give it a second, you should be auto forwarded)</p>
    </mat-card-content>
  </mat-card>
</div>
