<div class="demo-card-container" layout="row" layout-align="center">
  <md-card class="help-card">
    <md-card-header>
      <md-icon md-card-avatar>cloud_download</md-icon>
      <md-card-title class="help-card-title">Connecting with Web Data Connector</md-card-title>
    </md-card-header>
    <md-card-content>
      <p>If you're seeing this message you need to access the URL using Tableau's Web Data Connector.</p>
      <p>Copy the URL from your web browser <b>http://alpha.tableaumapping.bi/wdc</b>, open Tableau Desktop, in the connections list select 'Web Data Connector' and paste the URL into the connector. Then it's just like a regular Tableau data source.</p>
      <p>You'll need Tableau 10.2 or newer.</p>
    </md-card-content>
  </md-card>
</div>
