<div class="navContainer" [hidden]="hideSearch">
  <div class="input-field col s12 on-map">
    <mat-icon id="iconSearch">search</mat-icon><input id="search-input" class="searchBox on-map" type="search" placeholder="Search"
     [(ngModel)]="search" (keyup)="find()" (click)="showResults()">
    <mat-spinner [diameter]="24" style="on-map" *ngIf="isLoading"></mat-spinner>
  </div>
  <div #searchResults class="suggestions on-map" *ngIf="foundList.length > 0">
    <div *ngFor = "let layer of foundList | groups | sort">
      <h5>{{ layer.name }}</h5>
      <div *ngFor="let searchItem of layer.groups">
        <a mat-menu-item (click)="showPolygon(searchItem)"><span id="col">{{searchItem.name}}:</span> <span id="name">{{searchItem.value}}</span></a>
      </div>
    </div>
  </div>
</div>
